.auth_content {
    max-width: 1152px;
    max-height: 800px;
    box-shadow: 0px 4px 18px 0px #4B465C1A;
    border-radius: 4px;
}

.auth {
    &__imgContainer {
        background-color: rgba(217, 180, 20, 0.03);
    }
}

.add_shadow {
    box-shadow: 0px 4px 18px 0px #4B465C1A;
    border-radius: 4px;
}

// стиль для інпута ( провірка кодом)
.otp__input {
    width: 60px;
    height: 60px;
}

// font-weight: bold
.fw-medium-c {
    display: inline-block;
    font-weight: 500;
}

// =====
// transport plannning ( create pt)

.trans-planning-textarea textarea::-webkit-resizer {
    display: none;

}

.p-trans-custom {
    padding: 7px 10px;
    margin-right: 10px;
}

.w-150px {
    display: inline-flex;
    width: 145px;
}

// ===
// table in api keys
.text-light-c {
    color: #A5A2AD;
}

.table-responsive .workspace-checked {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px;
    padding: 0px 12px 0px 36px;
}


// =====

// tabs user tables
.tabs-user-tables {
    margin-bottom: 100px;
}

.tabs-user-tables #tabs .jqx-widget-header {
    height: 44px !important;

}

.tabs-user-tables #tabs .jqx-tabs-content {
    height: 100% !important;
    visibility: visible;
    margin-top: 15px;

}

.tabs-user-tables #tabs .jqx-tabs-content-element {
    height: max-content;
    overflow: unset;
}

.tabs-user-tables #tabs .jqx-widget-header .jqx-grid-column-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #4B465C !important;
}


.tabs-user-tables #tabs .jqx-tabs-header {
    border-color: #fff;
}


// tables in session user
.sessions-table-custom.jqx-widget-header > div {
    padding-left: 11px;
}

.actionOverhead-table-custom.jqx-widget-header > div {
    padding-left: 11px;
}

.actionOverhead-table-custom .input-group {
    display: none !important;
}

.actionOverhead-table-custom .icon-setting {
    position: absolute;
    right: 12px;
}

// ==============
// table companies
.companies-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.companies-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}


//   transport table
.transport-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.transport-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

//   additional-equipment table
.additional-equipment-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.additional-equipment-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

.upperText-normalPlaceholder {
    text-transform: uppercase;

    &::placeholder {
        text-transform: none;
    }
}


// services table
.services-table-custom #contenttableservices-table {
    width: 100% !important;

}

.services-table-custom .jqx-scrollbar {
    // display: none !important;
}

.services-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.services-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

// service create
.service-create-textarea textarea::-webkit-resizer {
    display: none;
}

// view logs tabs
.view-service-logs-tables #tabs .jqx-widget-header {
    height: 44px !important;
}

.view-service-logs-tables #tabs .jqx-tabs-content {
    height: 100% !important;
    visibility: visible;
    margin-top: 15px;

}

.view-service-logs-tables #tabs .jqx-tabs-content-element {
    height: max-content;
    overflow: unset;
}

.view-service-logs-tables #tabs .jqx-widget-header .jqx-grid-column-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #4B465C !important;
}


.view-service-logs-tables #tabs .jqx-tabs-header {
    border-color: #fff;
}


.view-services-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.view-services-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

// styles for input number country
.inpSelectNumCountry .input-number-country {
    padding-left: 80px !important;
}

.inpSelectNumCountry .iti__flag {
    margin-right: 15px
}

.inpSelectNumCountry .iti__flag-container {
    width: 75px;
    margin-right: 5px;
    padding-left: 10px;
}

.inpSelectNumCountry .iti__selected-flag {
    border-right: 1px solid #ccc;
}

.inpSelectNumCountry .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent !important;
}

.inpSelectNumCountry .iti__country-list {
    z-index: 2 !important;
}

// інпут в онбордингу тільки на країни
.inpSelectCountry .iti__dial-code {
    display: none;
}

.inpSelectCountry .iti {
    flex: auto;
}

.inpSelectCountry .form-control {
    padding-left: 80px !important;
    border-end-end-radius: 0 !important;
    border-start-end-radius: 0 !important;
}

.inpSelectCountry .iti__flag {
    margin-right: 15px
}

.inpSelectCountry .iti__flag-container {
    width: 75px;
    margin-right: 5px;
    padding-left: 10px;
}

.inpSelectCountry .iti__selected-flag {
    border-right: 1px solid #ccc;
}

.inpSelectCountry .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent !important;
}


.card-data-reverse {
    & > div:nth-child(even) {
        background-color: #4B465C05;
    }
}

.card-data-darker {
    & > div:nth-child(odd) {
        background-color: #F8F8F9;
    }
}

.card-data-reverse-darker {
    & > div:nth-child(even) {
        background-color: #F8F8F9;
    }
}


//sky table goods
.sku-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.sku-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}


//tabs in sku create
.sku-create-tables #tabs .jqx-tabs-content {
    height: 100% !important;
    visibility: visible;
}

.sku-create-tables #tabs .jqx-tabs-content-element {
    height: max-content;
    overflow: unset;
}


// sku packing table
.sku-use-of-products-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.sku-use-of-products-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

//container table
.container-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.container-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

//
.underline-on-hover:hover {
    text-decoration: underline;
}

//tables in view contract
.contract-view-tables #tabs {
    border: none;
}

.contract-view-tables .jqx-tabs-headerWrapper {
    border: none;
}


.contract-view-tables .accordion-button {
    background-color: transparent !important;
}

.contract-view-tables .jqx-tabs-content{
    height: 100%!important;
}

//contract table
.contract-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.contract-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

.cont-for-market-item:hover {
    background-color: rgba(168, 170, 174, 0.0784313725);
    cursor: pointer;
}

.rotate-down {
    transform: rotate(180deg);
}

.list-s-none {
    list-style: none;
    margin: 0;
    padding: 0;

}
// pinned column transporent bc
.jqx-grid-cell-pinned-light-wms{
    background-color: transparent !important;
}

// invoice table
.sel-payment-oblig-table-custom.jqx-clear .jqx-widget-header:not(:first-child) > div {
    padding-left: 11px;
}

.sel-payment-oblig-table-custom.jqx-clear .jqx-widget-header:last-child > div {
    padding-left: 0px;
}

.item-selected-correction-hover {
    transition: all 0.2 .7s ease;

    &:hover {
        background-color: #4B465C05;
    }
}

//navbar
.logo-in-navbar.dropdown-toggle {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.logo-in-navbar.dropdown-toggle > div {
    margin-right: 5px;
}

.logo-in-navbar.dropdown-toggle::after {
    left: 0;
    margin-left: 5px;

}

.nav-link-burger-c{
 transform: scale(1.6);
 &:hover,
 &:focus{
  color:#d9b414;
 }
}
.border-error{
    border-color: #e35d6a;
}
.alert-active-tab{
    color: #fff !important;
    background-color: #D9B414 !important;
}
.color-l-gray{
 color: #A5A3AE;
}

#tabs .jqx-tabs-content-element {
    height: max-content;
    overflow: unset;
}

@media screen and (min-width: 992px) {
.border-right-lg{
  border-right: 1px solid rgb(235, 233, 241);}
  .heigh-79vh-lg{
    height: 79vh;
  }
}
.bg-c-transparent{
    // z-index: 90;
    background-color: #fff !important;
    :hover{
        //  background-color: transparent !important;
    }
}
.bg-hover-grey{
    background-color: #F8F8F9 !important;
}

// #accordionForRoute .accordion-item {
//     display: flex;
//     flex-direction: column-reverse; /* Змінити напрямок розкриття вгору */
// }

.container-route-tabs {
    position: relative;
  }
  .container-route {
    position: absolute;
    z-index: 90;
    bottom: 0;
    width: 100%;
  }
  .custom-nav-tabs .nav-tabs .nav-link.active {
    background-color:  transparent !important;
    color: #d9b414 !important;
    box-shadow: none;
    border-bottom: #d9b414 2px solid ;
    border-radius: 0px;
}






  .pop-parent {
    position: relative;
    display: inline-block;

}

.pop-child {
    position: absolute;
    overflow: visible;
    z-index: 9 !important;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-78%);
    width: 270px;
    background-color: #fff;
    color: #5D596C;
    padding: 16px;
    opacity: 0;
    pointer-events: none;
    transition:  0.4s ease, opacity 0.4s ease;
    box-shadow: 0px 5px 20px 0px rgba(75, 70, 92, 0.40) !important;
    border-radius: 6px;
}
.pop-child::after {
    content: '';
    position: absolute;
 width:20px ;
 height: 20px;
 background-color: white;
right: 50%;
 bottom: -3%;
 transform: rotate(45deg)

}

.disabled-btn-c {
   border: 1px solid #d8d6de !important;
   background-color: rgb(239, 239, 239) !important;
   color: #999 !important;
}
.custom-tooltip-addPacking{
    --bs-tooltip-bg: white;
    --bs-tooltip-color:#6F6B7D;

}

.custom-tooltip-addPacking .tooltip-inner{
    box-shadow: 0px 5px 20px 0px rgba(75, 70, 92, 0.40) ;
  padding: 10px;
}


.marker-map-route {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    // font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


.tabs-container-logist #tabs .jqx-tabs-content {
    height: 100% !important;
    visibility: visible;}

.active-nav-log-confirmed{
    color: #a8aaae !important;
    background-color: rgba(168, 170, 174, 0.16)!important;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}


// видалити стилі нижче, як вирішиться проблема з підключенням файлу css
// vendors/css/extensions/ext-component-toastr.css

.toast-title {
    font-weight: 700
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.toast-message a, .toast-message label {
    color: #FFF
}

.toast-message a:hover {
    color: #CCC;
    text-decoration: none
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    line-height: 1
}

.toast-close-button:focus, .toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}

.rtl .toast-close-button {
    left: -.3em;
    float: left;
    right: .3em
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-top-left {
    top: 12px;
    left: 12px
}

.toast-top-right {
    top: 12px;
    right: 12px
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px
}

#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #FFF;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80)
}

#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center
}

#toast-container > div:hover {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer
}

#toast-container > .toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important
}

#toast-container > .toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important
}

#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important
}

#toast-container > .toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto
}

#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.toast {
    background-color: #030303
}

.toast-success {
    background-color: #51A351
}

.toast-error {
    background-color: #BD362F
}

.toast-info {
    background-color: #2F96B4
}

.toast-warning {
    background-color: #F89406
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right: .2em
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right: .2em
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }
    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px
    }
}





